In [1]:
x=4
while x<9:
    print(x)
    x=x+1

4
5
6
7
8

In [2]:
for a in range(1,9):
    print(a + 5)

6
7
8
9
10
11
12
13

In [15]:
#list comprehession
#out=[]
nums=[1,2,3,4,5]

out=[num**2 for num in nums]
out

[1, 4, 9, 16, 25]

In [27]:
def add(num,a):
    """
    docstring
    This is a function to add number
    """
    return num+a
add(4,7)

11

In [26]:
add(3,8)

11

In [30]:
#map() funtion
def times10(number):
    return number*10
times10(4)

40

In [32]:
#if we want to apply the function in a list of many numbers
x=[2,3,4,5,6,7,8]
list(map(times10,x))  #list() is a function that create a list

[20, 30, 40, 50, 60, 70, 80]

In [33]:
#a lambda expression is a short way to define a function and give its return value
t=lambda integer:integer*100
t(2)

200

In [34]:
#in a short way
list(map((lambda integer:integer*100),x))

[200, 300, 400, 500, 600, 700, 800]

In [2]:
sentence="i want my money back"
len(sentence)

20

In [12]:
print(sentence.split("my"))

['i want ', ' money back']

In [10]:
ages=[23,78,59,56,72]
print(ages.pop(3))

56

In [11]:
ages

[23, 78, 59, 72]

In [14]:
sentence.upper()

'I WANT MY MONEY BACK'

In [24]:
a=786
b=67
if a in ages:
    print("ooh yeah")
else:
    print("noh man")

noh man

In [25]:
ages.insert(2,677)

In [26]:
ages

[23, 78, 677, 59, 72]

In [27]:
ages.remove(23)
print(ages)

[78, 677, 59, 72]

In [28]:
ages.pop(2)
ages

[78, 677, 72]

In [31]:
myList=['baba','kaka','dada','rafiki']
herList=myList.copy()
herList

['baba', 'kaka', 'dada', 'rafiki']

In [32]:
#elif statement in one sentence
print("yes") if a>b else print("noo")

yes

In [35]:
#a short hand to print block of code with multiple else statements in a one line
a=22
b=22
print("A") if a>b else print("=") if a==b else print ("B")

=

In [36]:
#you can also specify the count of iteration in function range()
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [37]:
myList=['baba','kaka','dada','rafiki']
ages=[23,78,59,56,72]
for x in myList:
    for y in ages:
        print(x,y)

baba 23
baba 78
baba 59
baba 56
baba 72
kaka 23
kaka 78
kaka 59
kaka 56
kaka 72
dada 23
dada 78
dada 59
dada 56
dada 72
rafiki 23
rafiki 78
rafiki 59
rafiki 56
rafiki 72

In [43]:


def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [44]:
def my_method(num):
    for x in num:
        print(x)
        
fav=[1,3,5,7,9]

my_method(fav)

1
3
5
7
9

In [47]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [50]:
#lambda expressions
x=lambda a:a*20
print(x(5))

100

In [52]:
#lambda with more than one argument
y=lambda a,b:a+b
print(y(2,8))

10

In [53]:
s=lambda a,b,c,d:a+b+c+d
print(s(2,4,6,8))

20

In [57]:
#lamba always function better inside a function
def my_example(m):
    return lambda z:z**m
my_function = my_example(2)
print(my_function(5))

25

In [66]:
#python class and objects
class car:
    def __init__(self,name,year):
        self.name=name
        self.year=year
car1=car("Discovery 4",2004)
print(car1.name)
print(car1.year)

Discovery 4
2004

In [61]:
class Person:
     def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [5]:

    
    
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name +"and am {}",format(age))

p1 = Person("John", 36)
p1.myfunc()
    
    
#class inheritance
class Student(Person):
    pass      #use pass if you dont want to add any properties or methods to the class

s1=Student("mary", 20)
s1.myfunc()

NameError: name 'age' is not defined

NameError: name 'Person' is not defined

In [5]:
import numpy as np
grades=[20,10,30]
np.mean(grades)

20.0