In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
#from skilearn.linear import SGDClassfier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [17]:
brain=pd.read_csv(r'C:\Users\Mary\Desktop\Telecom\1ST YEAR\Practical Training\untitled folder\brain_data.csv')

In [19]:
brain.head()

,Unnamed: 0,Gender,Age Range,Head Size(cm^3),Brain Weight(grams),category
0,0,1,1,4512,1530,0
1,1,1,1,3738,1297,0
2,2,1,1,4261,1335,0
3,3,1,1,3777,1282,0
4,4,1,1,4177,1590,1

In [20]:
brain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 6 columns):
Unnamed: 0             237 non-null int64
Gender                 237 non-null int64
Age Range              237 non-null int64
Head Size(cm^3)        237 non-null int64
Brain Weight(grams)    237 non-null int64
category               237 non-null int64
dtypes: int64(6)
memory usage: 11.2 KB

In [24]:
brain.head(10)

,Unnamed: 0,Gender,Age Range,Head Size(cm^3),Brain Weight(grams),category
0,0,1,1,4512,1530,0
1,1,1,1,3738,1297,0
2,2,1,1,4261,1335,0
3,3,1,1,3777,1282,0
4,4,1,1,4177,1590,1
5,5,1,1,3585,1300,1
6,6,1,1,3785,1400,1
7,7,1,1,3559,1255,0
8,8,1,1,3613,1355,1
9,9,1,1,3982,1375,0